<meta http-equiv="Cache-Control" content="no-cache">
<!-- flex-контейнер -->
<div class="faq__content">

	<div class="content__block"> <!-- Блок со всеми FAQ-->
		<div class="content__block__title">FAQ</div>
		<div class="content__block__text">
			<div class="content__block__text__paragraph">
				- Как попасть в рейтинг? <br>
				- Обратитесь к Игнату в Viber или к ishao#7988 в личные сообщения, подтвердите, что вы учащийся 7 класса. Через некоторое время будет потребован пароль, который будет использован для входа в систему.
			</div>
			<div class="content__block__text__paragraph">
				- Как сообщить мой результат игры? <br>
				- Для этого есть отдельный пункт меню. Результат сообщает один из игроков партии.
			</div>
			<div class="content__block__text__paragraph">
				- Что влияет на мой Elo? <br>
				- Выиграв игру вы получите Elo, проиграв потеряете. Чем больше рейтинг соперника, тем больше вы получите Elo при выигрыше и тем меньше вы потеряете Elo при проигрыше.
			</div>
			<div class="content__block__text__paragraph">
				- Где можно войти в свой аккаунт? <br>
				- На главной странице.
			</div>
			<div class="content__block__text__paragraph">
				- Мой Elo мал. Я плохо играю? <br>
				- Отчаиваться не стоит. Возможно, вы играете не плохо, просто играли со слишком сильными соперниками, либо же ваш уровень низкий относительно участников таблицы. В любом случае это значит, что вам есть куда стремиться. Опросите игроков про тактики, учитесь после каждых игры, Рейтинг - мониторинг вашего прогресса в игре.
			</div>
		</div>
	</div>

	<div class="content__block"> <!-- Блок с правила-->
		<div class="content__block__title">Правила</div>
		<div class="content__block__text">
			<div class="content__block__text__paragraph">
				<b> 1. Правила пользования веб-интерфейсом </b>
			</div>
			<div class="content__block__text__paragraph">
				Веб-интерфейс - инструмент для ведения мониторинга elo-таблицы. В случае обнаружения ошибки сообщите Игнату в Viber или ishao#7988.
			</div>
			<div class="content__block__text__paragraph">
				<b>Запрещается</b> сообщать ложные результаты, направлять DOS/DDOS атаки и намеренно ломать сайт
			</div>
			<div class="content__block__text__paragraph">
				<b>Одобряется</b> использование сайта для мониторинга своего результата и для сообщения результатов партий с другими игроками
			</div>
			<div class="content__block__text__paragraph">
				<b> 2. Игровые правила</b>
			</div>
			<div class="content__block__text__paragraph">
				Шахматные дуэли проводятся по стандартным, классическим правилам шахмат с таймером в 10 минут.
			</div>
			<div class="content__block__text__paragraph">
				<b>Запрещается</b> будучи наблюдателем подсказывать одному из членов партии, мешать им физически и морально.
			</div>
			<div class="content__block__text__paragraph">
				<b>Одобряется</b> добросовестная игра.
			</div>
			<div class="content__block__text__paragraph">
				<b> 3. В случае непредвиденных обстоятельств</b>
			</div>
			<div class="content__block__text__paragraph">
				Игроки в праве решать, что будет в подобных случаях перед игрой, но существует свод правил, который четко регламентирует поведение в отдельных случаях
			</div>
			<div class="content__block__text__paragraph">
				1. В случае невозможного хода игрок должен переключить таймер на себя, вернуть другому игроку потраченные им секунды, компенсировав потерей своего времени;
			</div>
			<div class="content__block__text__paragraph">
				2. В случае спорной ситуации игра останавливается и спор решается за игрой. Для более верной остановки требуется третий нейтральный человек.
			</div>
		</div>
	</div>

</div>