<meta http-equiv="Cache-Control" content="no-cache">
<!-- flex-контейнер -->
<div class="faq__content">
	
	<div class="content__block"> <!-- Блок со всеми FAQ-->
		<div class="content__block__img"><img src="" alt=""></div>
		<div class="content__block__title">FAQ</div>
		<div class="content__block__text">
			<div class="content__block__text__paragraph">
				- Что такое "Дуэльный клуб"? <br>
				- Дуэльный клуб - организация, тесно связанная с бумажными войнами. Мы устраиваем турниры, но так же даем возможность проводить обычные игры на рейтинг, очки DRP ("Duels Rating Point").
			</div>
			<div class="content__block__text__paragraph">
				- Как попасть в рейтинг? <br>
				- Чтобы попасть в общий рейтинг вам нужно сыграть три калибровочных игры. В их течении определится ваш рейтинг и вы попадете в общую таблицу. Сыграв первую игру сообщите ishao#0063, он создаст вам аккаунт. Все люди, которые не прошли калибровку, но сыграли хотя бы одну игру, могут быть найдены на сайте.
			</div>
			<div class="content__block__text__paragraph">
				- Как сообщить мой результат игры? <br>
				- Для этого есть отдельный пункт меню.
			</div>
			<div class="content__block__text__paragraph">
				- Что влияет на мой DRP? <br>
				- Выиграв игру вы получите DRP, проиграв потеряете. Чем больше рейтинг соперника, тем больше вы получите DRP при выигрыше и тем меньше вы потеряете DRP при проигрыше. Так же игры в турнирах влияют на ваш DRP так же, как при обычных играх.
			</div>
			<div class="content__block__text__paragraph">
				- Где можно войти в свой аккаунт? <br>
				- На главной странице.
			</div>
			<div class="content__block__text__paragraph">
				- Мой DRP мал. Я плохо играю? <br>
				- Отчаиваться не стоит. Возможно, вы играете не плохо, просто играли со слишком сильными соперниками, либо же ваш уровень низкий относительно участников таблицы. В любом случае это значит, что вам есть куда стремиться. Опросите игроков про тактики, учитесь после каждых игр, смотрите гайды по тактике на официальном тик-токе, и после должной доли практики у вас все получится! Тем более, рейтинг, в первую очередь - мониторинг вашего прогресса.
			</div>
			<div class="content__block__text__paragraph">
				- Где можно посмотреть правила модификации для дуэльного клуба? <br>
				- <a href="https://docs.google.com/document/d/1Lfi2JQh5HtU23tAysXztx3tAHAuZVZMLxLlWIAGf7a0/edit?usp=sharing" style="color: #fff;">По этой ссылке</a>
			</div>
			<div class="content__block__text__paragraph">
				- Кто состоит в Duels Club Studio? <br>
				- Duels Club Studio состоит из 5 человек. Поговорим о каждом в отдельности. ishao#0063 - автор модификации и идеи. Реализовал большинство механик, используемых в дуэли. Отвечает за распределение DRP, модератор игр, а так же владелец дуэльного клуба. catffish#3716 - дизайнер дополнения, сделавший его наиболее читаемый. Создатель воина науки и партизана. Dark_king#2775 и Чел из культа Ишао#1843 - создатели множества карт.
			</div>
			<div class="content__block__text__paragraph">
				- Что за команды? <br>
				- Команды - объединения игроков. Чтобы его создать напишите в ЛС ishao#0063, чтобы вступить, напишите менеджеру, он же должен сообщить ishao#0063. Попасть в команду можно пройдя калибровку. 
			</div>
			<div class="content__block__paragraph">
				- У вас есть официальный тик-ток?
				- Да, <a href="https://www.tiktok.com/@duels_club_official" style="color: #fff;">вот он</a>
			</div>
		</div>
	</div>

</div>