<meta http-equiv="Cache-Control" content="no-cache">

<div class="index"> <!-- flex- контейнер для левого и правого блока -->
	

	<div class="index__left"> <!-- левый блок -->
		<!-- Блоки с данными -->
		<div class="content__block">
			<div class="content__block__title"><a ng-href="#!/matches/{{lastMatch[2]}}">Последняя игра</a></div> 
			<div class="content__block__text">
				<div class="content__block__paragraph" style="text-align: center;">
					{{lastMatch[1]}}
				</div>
				<div class="content__block__paragraph" style="margin-top: 20px; text-align: center;">
					<b> Комментарий: </b> {{lastMatch[0]}}
				</div>
			</div>
		</div>

		<div class="content__block"> 
			<div class="content__block__title">
				19-09-21 Релиз BETA 0.7
			</div>
			<div class="content__block__text">
				<div class="content__block__paragraph"> Приложение обновлено до версии 0.7. Изменения: </div>
				<div class="content__block__paragraph"> - Добавлен профиль каждого матча</div>
				<div class="content__block__paragraph"> - Есть возможность посмотреть профиль матчей с главной страницы</div>
				<div class="content__block__paragraph"> - Есть возможность посмотреть профиль матчей с профиля каждого игрока, тыкнув по результату </div>
				<div class="content__block__paragraph"> - Исправлены ошибки </div>
			</div>
		</div>


		<div class="content__block"> 
			<div class="content__block__title">
				18-09-21 Релиз BETA 0.5
			</div>
			<div class="content__block__text">
				<div class="content__block__paragraph"> Приложение обновлено до версии 0.5. Изменения: </div>
				<div class="content__block__paragraph"> - Добавлен профиль каждого участника </div>
				<div class="content__block__paragraph"> - Есть возможность посмотреть свой профиль и профиль людей в рейтинге </div>
				<div class="content__block__paragraph"> - В профиле добавлен просмотр всех сыгранных матчей, общей статистики и графика изменения ELO </div>
				<div class="content__block__paragraph"> - Полностью доделана главная страница </div>
				<div class="content__block__paragraph"> - Изменен стиль общего рейтинга </div>
			</div>
		</div>


		<div class="content__block"> 
			<div class="content__block__title">
				Сайт приступил к открытой работе
			</div>
			<div class="content__block__text">
				<div class="content__block__paragraph">Сайт приступил к открытой работе в 7 классе СРЦОД. Чтобы вступить в рейтинг требуется обратиться к "Игнату", после в течении некоторого времени вы получите ответ.</div>
				<div class="content__block__paragraph">Большинство функций на данный момент недоступны и будут появляться со временем.</div>
			</div>
		</div>

	</div>


	<div class="index__right"> <!-- правый блок -->
		<!-- Блоки с данными -->
		<div class="content__block" id="unloginWindow"> <!-- кнопка выхода -->
			<div class="login__button">
				<button type="button" name="unloginButton" id="unloginButton" class="btn btn-secondary reg_btn" ng-click="unlogin.click()">Выйти</button>
			</div>
		</div>

		<div class="content__block" id="loginWindow"> <!-- кнопка входа -->
			<input type="text" class="form-control login__place" id="nickname" placeholder="Никнейм">
			<input type="password" class="form-control login__place" id="password" placeholder="Пароль">
			<div class="login__button">
				<button type="button" name="loginButton" id="loginButton" class="btn btn-secondary reg_btn" ng-click="login.click()">Войти</button>
			</div>
		</div>

		<div class="content__block"> <!-- цикл по переменной в js для вывода последних игр-->
			<div class="content__block__title">Последние игры</div>
			<div class="content__block__text" style="text-align: center;">
				<div class="content__block__paragraph" style="margin-bottom: 10px"><a ng-href="#!/matches/{{matchs[0][1]}}">{{matchs[0][0]}}</a></div>
				<div class="content__block__paragraph" style="margin-bottom: 10px"><a ng-href="#!/matches/{{matchs[1][1]}}">{{matchs[1][0]}}</a></div>
				<div class="content__block__paragraph" style="margin-bottom: 10px"><a ng-href="#!/matches/{{matchs[2][1]}}">{{matchs[2][0]}}</a></div>
			</div>
		</div>

		<div class="content__block"> <!-- цикл по переменной в js для вывода новичков-->
			<div class="content__block__title">Новички</div>
			<div class="content__block__text" ng-repeat="member in newers track by $index" style="text-align: center;"> 
				<div class="content__block__paragraph"><a ng-href="#!/members/{{member[1]}}">{{member[2]}}. {{member[0]}}</a></div>
			</div>
		</div>

		<div class="content__block"> <!-- цикл по переменной в js для вывода лучших игроков -->
			<div class="content__block__title">Лучшие игроки</div>
			<div class="content__block__text" ng-repeat="top in topThree track by $index" style="text-align: center;">
				<div class="content__block__paragraph"><a ng-href="#!/members/{{top[1]}}">{{top[2]}}. {{top[0]}}</a></div>
			</div>
		</div>

	</div>
</div>