<meta http-equiv="Cache-Control" content="no-cache">
<!--flex-контейнер-->
<div class="rating">
    <!--Заголовок-->
    <div class="content__block"> <!--Заголовок-->
        <div class="content__block__title" style="margin-top: 20px;">Рейтинг</div>
    </div>

    <div class="content__block">
        <table class="table-3"> <!--Таблица рейтинга-->
            <thead>
            <tr> <!-- Заголовки -->
                <th>ТОП</th>
                <th>ИМЯ</th>
                <th>ELO</th>
                <th>ПОБЕД</th>
                <th>ПОРАЖЕНИЙ</th>
                <th>НИЧЬИХ</th>
                <th>ИГР ВСЕГО</th>
                <th>МАКС ELO</th>
                <th>ПРОЦЕНТ ПОБЕД</th>
            </tr>

            <tbody>
            <tr ng-repeat="member in rating"> <!-- Цикл по массиву rating в $scope, который заполняет таблицу-->
                <td data-label="ТОП">{{member[8]}}</t1d>
                <td data-label="ИМЯ"><a ng-href="#!/members/{{member[6]}}">{{member[0]}}</a></td>
                <td data-label="DRP">{{member[1]}}</td>
                <td data-label="ПОБЕД">{{member[2]}}</td>
                <td data-label="ПОРАЖЕНИЙ">{{member[3]}}</td>
                <td data-label="НИЧЬИХ">{{member[4]}}</td>
                <td data-label="ИГР ВСЕГО">{{member[2] + member[3] + member[4]}}</td>
                <td data-label="МАКС DRP">{{member[5]}}</td>
                <td data-label="ПРОЦЕНТ ПОБЕД">{{member[9]}}{{"%"}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>