<meta http-equiv="Cache-Control" content="no-cache">
<!--flex-контейнер-->
<div class="rating">
	<!--Заголовок-->
	<div class="content__block"> <!--Заголовок-->
		<div class="content__block__title" style="margin-top: 20px;">Рейтинг</div>
	</div>
	
	<div class="content__block table-wrap" style="padding-top: 20px;">
		<table class="table"> <!--Таблица рейтинга-->
			<tr> <!-- Заголовки -->
				<th>ТОП</th>
				<th>ИМЯ</th>
				<th>ELO</th>
				<th>ПОБЕД</th>
				<th>ПОРАЖЕНИЙ</th>
				<th>НИЧЕЙ</th>
				<th>ИГР ВСЕГО</th>
				<th>МАКС ELO</th>
				<th>ПРОЦЕНТ ПОБЕД</th>
			</tr>

			<tr ng-repeat="member in rating"> <!-- Цикл по массиву rating в $scope, который заполняет таблицу-->
				<td title="ТОП">{{member[7]}}</t1d>
				<td title="ИМЯ">{{member[0]}}</td>
				<td title="DRP">{{member[1]}}</td>
				<td title="ПОБЕД">{{member[2]}}</td>
				<td title="ПОРАЖЕНИЙ">{{member[3]}}</td>
				<td title="НИЧЕЙ">{{member[4]}}</td>
				<td title="ИГР ВСЕГО">{{member[2]+member[3]+member[4]}}</td>
				<td title="МАКС DRP">{{member[5]}}</td>
				<td title="ПРОЦЕНТ ПОБЕД">{{member[8]}}{{"%"}}</td>
			</tr>
		</table>
	</div>
</div>