/*Тело*/
body {background-color: #212121;}
.main-content {max-width: 1140px; padding-top: 100px; margin-left: auto; margin-right: auto; padding-left: 20px; padding-right: 20px;}
/*Шапка*/
.header {position: fixed; width: 100%; top: 0; left: 0; z-index: 50;}
.header:before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #252525; z-index: 3;}
.header__body {position: relative; display: flex; justify-content: space-between; height: 80px; align-items: center;}
.container {max-width: 1180px; margin: 0 auto; padding: 0 10px;}
.header__list {display: flex; position: relative; z-index: 3;}
.header__list li {list-style: none; margin-left: 20px;}
.header__link {color: #fff; font-size: 18px; text-transform: uppercase; text-decoration: none;}
.header__logo {position: relative; flex: 0 0 60px; z-index: 5;}
.header__logo img {max-width: 100%; border-radius: 50%; display: block;}
.header__burger {display: none; z-index: 5;}
/*Контент*/
.content__block {position: relative; width: 100%;display: flex; flex-direction: column; justify-content: center; background-color: #272727; margin-bottom: 30px}
.content__block__img {width: 100%; margin-bottom: 30px;}
.content__block__img img {width: 100%;}
.content__block__title {font-size: 24px; color: #fff; text-align: center; margin-bottom: 30px; margin-top: 30px; margin-left: 20px; margin-right: 20px;}
.content__block__text {font-size: 18px; color: #fff; margin-left: 20px; margin-bottom: 20px; margin-right: 20px;}
.content__block__text__paragraph {padding-bottom: 20px;}
/*Таблицы*/
.table-wrap{overflow-x:auto;}
table.table {width: 100%; height: 100%; color: #fff; border: 3px solid #fff;}
table.table th, table.table td {text-align: center; padding: 8px;}
table.table-1 th {font-weight: bold;}
/*FAQ*/
.faq__content {display: flex; position: relative; width: 100%; height: 100%; flex-direction: column; justify-content: center;}
/*Рейтинг*/
.rating {display: flex; position: relative; width: 100%; height: 100%; flex-direction: column; justify-content: center;}
/*Главная страница*/
.index {position: relative; display: flex; width: 100%; height: 100%; flex-direction: row; justify-content: space-between;}
.index__left {position: relative; width: 63%; height: calc(100vh - 120px); overflow-y: auto; overflow-x: hidden;}
.index__left::-webkit-scrollbar {width: 0;}
.index__right {position: relative; width: 32%; height: calc(100vh - 120px); overflow-y: auto;}
.index__right::-webkit-scrollbar {width: 0;}

.login__place, .login__place:focus, .login__place:before {color: #fff; background-color: #383838; border-color: #383838; width: 90%; margin-left: auto; margin-right: auto; margin-top: 10px;}
.login__button {width: 90%; margin-top: 10px; margin-bottom: 10px; margin-left: auto; margin-right: auto;}
.reg_btn, .reg_btn:hover, .reg_btn:before {width: 100%; border-color: #383838; text-align: center; background-color: #383838;}