@media (max-width: 925px){
	.header__burger {display: block; position: relative; width: 30px; height: 20px}
	.header__burger:before, .header__burger:after {content: ''; background-color: #fff; position: absolute; width: 100%; height: 2px; left: 0;}
	.header__burger:before {top: 0;}
	.header__burger:after {bottom: 0;}
	.header__burger span {position: absolute; background-color: #fff; position: absolute; left: 0; width: 100%; height: 2px; top: 9px;}
	.header__menu {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #292929; padding: 100px 0 0 0;}
	.header__list {display: flex; flex-direction: column;}
	.header__list li {margin-bottom: 20px;}
	.header__list li a {font-size: 24px;}
	.header__menu.active {top: 0; transition: all 0.5s ease 0s;}
	.header__menu.deactive {top: -100%; transition: all 0.5s ease 0s;}
	.header__burger.active:before {transform: rotate(45deg); top: 9px;}
	.header__burger.active:after {transform: rotate(-45deg); bottom: 9px;}
	.header__burger.active span{transform: scale(0);}
}
@media (max-width: 767px) {
	.header__body {height: 50px;}
	.header__logo {flex: 0 0 40px;}
	.header__menu {padding: 70px 0 0 0;}
	.header__list li a {font-size: 22px;}
	.main-content {padding-top: 80px;}
	.index {flex-direction: column;}
	.index__left {width: 100%; height: auto; order: 1;}
	.index__right {width: 100%; height: auto; order: 0;}
	table.table-3 {border: 0; margin-bottom: 5px;}
	table.table-3 thead {border: none;clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}
	table.table-3 tr {border-bottom: none; display: block; margin-bottom: 30px;}
	table.table-3 td {display: block; text-align: right; border: 0;}
	table.table-3 td::before {content: attr(data-label); float: left; font-weight: bold;text-transform: uppercase;}
	table.table-3 td:last-child {border-bottom: 0;}
}