<header class="header">
	<div class="container">
		<div class="header__body">
			<a href="#!/index/" class="header__logo" ng-click="burgerClass()">
				<img src="../../img/logo.jpg" alt="">
			</a>
			<div class="header__burger" ng-click="burgerClass()">
				<span></span>
			</div>
			<nav class="header__menu deactive">
				<ul class="header__list">
					<li><a href="#!/get_result/" class="header__link" ng-click="burgerClass()">Сообщить результат</a></li>
					<li><a href="#!/rating/" class="header__link" ng-click="burgerClass()">Рейтинг</a></li>
					<li><a href="#!/members/" class="header__link" ng-click="burgerClass()">Участники</a></li>
					<li><a href="#!/matches/" class="header__link" ng-click="burgerClass()">Матчи</a></li>
					<li><a href="#!/teams/" class="header__link" ng-click="burgerClass()">Команды</a></li>
					<li><a href="#!/profile/" class="header__link" ng-click="burgerClass()">Профиль</a></li>
					<li><a href="#!/faq/" class="header__link" ng-click="burgerClass()">FAQ</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>