<header class="header">
    <div class="container">
        <div class="header__body">
            <a href="#!/index/" class="header__logo" ng-click="burger.click()">
                <img src="../../img/avatar.png" alt="">
            </a>
            <div class="header__burger" ng-click="burger.click()" id="burger">
                <span></span>
            </div>
            <nav class="header__menu deactive">
                <ul class="header__list">
                    <li><a href="#!/get_result/" class="header__link" ng-click="burger.click()">Сообщить результат</a>
                    </li>
                    <li><a href="#!/rating/" class="header__link" ng-click="burger.click()">Рейтинг</a></li>
                    <li><a href="#!/members/" class="header__link" ng-click="burger.click()">Участники</a></li>
                    <li><a href="#!/matches/" class="header__link" ng-click="burger.click()">Матчи</a></li>
                    <li><a href="#!/profile/" class="header__link" ng-click="burger.click()">Профиль</a></li>
                    <li><a href="#!/faq/" class="header__link" ng-click="burger.click()">FAQ</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>