<header class="header">
	<div class="container">
		<div class="header__body">
			<a href="#!/index/" class="header__logo">
				<img src="../../img/logo.jpg" alt="">
			</a>
			<div class="header__burger" ng-click="burgerClass()">
				<span></span>
			</div>
			<nav class="header__menu deactive">
				<ul class="header__list">
					<li><a href="#!/index/" class="header__link">Сообщить результат</a></li>
					<li><a href="#!/rating/" class="header__link">Рейтинг</a></li>
					<li><a href="#!/members/" class="header__link">Участники</a></li>
					<li><a href="#!/matches/" class="header__link">Матчи</a></li>
					<li><a href="#!/teams/" class="header__link">Команды</a></li>
					<li><a href="#!/profile/" class="header__link">Профиль</a></li>
					<li><a href="#!/faq/" class="header__link">FAQ</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>